In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# load datasets
original_df = pd.read_csv('./dataset/bodyPerformanceI.csv')
norm_df = pd.read_csv('./dataset/bodyPerformanceNormalized.csv')

In [3]:
original_df.shape

(7015, 12)

In [4]:
norm_df.shape

(7015, 13)

In [19]:
norm_df.columns

Index(['Unnamed: 0', 'gender', 'class', 'age', 'height_cm', 'weight_kg',
       'body fat_%', 'diastolic', 'systolic', 'gripForce',
       'sit and bend forward_cm', 'sit-ups counts', 'broad jump_cm'],
      dtype='object')

In [6]:
norm_df.head()

,Unnamed: 0,gender,class,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,0,F,C,0.069767,0.398256,0.088719,0.387160,0.339547,0.456740,0.391989,0.146781,0.641026,0.623729
1,1,F,D,0.139535,0.539244,0.399781,0.626459,0.605859,0.698189,0.437768,0.133047,0.538462,0.532203
2,2,M,C,0.046512,0.707849,0.371303,0.196498,0.466045,0.624413,0.682403,0.156652,0.615385,0.705085
3,3,M,C,0.232558,0.627907,0.395400,0.233463,0.505992,0.678068,0.566524,0.171245,0.846154,0.894915
4,4,M,B,0.093023,0.728198,0.332968,0.066148,0.392810,0.496982,0.600858,0.170815,0.628205,0.854237

### found one unnecessary column where written all indexes from concatenating two dataframes inside NormalizeAndSave.py file

In [15]:
# drop that column and resave the dataset
try:
    norm_df.drop('Unnamed: 0', inplace=True, axis=1)
except KeyError:
    print('Unnamed: 0 column name not found')
norm_df.to_csv('./dataset/bodyPerformanceNormalized.csv')

In [16]:
# reload dataset and start comparison again
norm_df = pd.read_csv('./dataset/bodyPerformanceNormalized.csv')

In [17]:
original_df.shape

(7015, 12)

In [18]:
norm_df.shape

(7015, 13)